.container {
    width: 80vw;
    margin-top: 10vh;
    height: 80vh;
    margin-left: 10vw;
    background-color: #fff;
    position: relative;
}

.text {
    margin: 40px 0px 0px 100px; 
    color: #2A2DD0;
    font-size: 40px;
    text-transform: capitalize;
    position: absolute;
}

::-webkit-input-placeholder {
    color: #2A2DD0;
 }

 input, textarea {
    width: calc(50% - 125px);
    height: 70px;
    border: none;
    font-size: 22px;
    padding-left: 30px;
    border-radius: 10px;
 }

.first-name {
    margin: 130px 0px 0px 100px;
    background-color: #E7E9FE;
    color: #233BF5;
}

.last-name {
    margin: 130px 0px 0px 50px;
    background-color: #E7E9FE;
}

.email {
    margin: 30px 0px 0px 100px;
    background-color: #DCE1FF;
}

.phone {
    margin: 30px 0px 0px 50px;
    background-color: #DCE1FF;
}

.adress {
    width: calc(100% - 200px);
    margin: 30px 0px 0px 100px;
    background-color: #C7CDFD;
}

.textarea {
    width: calc(100% - 200px);
    height: 140px;
    margin: 30px 0px 0px 100px;
    background-color: #A5B1FD;
    padding: 20px 30px 0px 30px;
}

.btn {
    width: 170px;
    height: 50px;
    margin: 30px calc(50% - 85px);
    font-size: 20px;
    background-color: #233BF5;
    color: #fff;
    border-radius: 25px;
    border: none;
}

.bottom-text {
    margin-left: 100px;
    padding-top: 5px;
    font-size: 20px;
    color: #9FE8D4;
}

.btn:hover {
    box-shadow: 3px 3px 5px gray;
}